{
  "live-restore": true,
  "userns-remap": "{{ docker_userns_remap }}",
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "{{ docker_log_max_size }}",
    "max-file": "{{ docker_log_max_file }}"
  },
  "iptables": true,
  "default-address-pools": [
    { "base": "{{ docker_address_pool_base }}", "size": {{ docker_address_pool_size }} }
  ],
  "seccomp-profile": "/etc/docker/seccomp/levlab-default.json"
}
